.grid-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-item {
  padding: 10px;
}

.overflow-elipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.left-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  background-color: lightblue;
}

.content-body {
  flex: 1 1 auto;
}

.circle-icon-small {
  width: 35px;
  height: 35px;
  padding: 2px 2px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}

.right-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  background-color: lightblue;
  height: 14.45rem;
}

.right-content-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.icon-center {
  display: flex;
  margin-left: 2rem;
}

#profil {
  border-collapse: collapse;
  width: 100%;
}

#profil td {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid white;
  /* identical to box height */
  text-align: justify;
  padding: 8px;
}

#profil th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 400px) {
  .grid-container-md {
    max-width: 810px;
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: 20% 25% 25% 25%;
  }

  .grid-item-md {
    padding: 10px;
  }

  .left-content-md {
    background-color: lightblue;
    width: 340px;
    height: 300px;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon-center-sm {
    margin: 0 5rem;
  }

  .circle-icon-small-md {
    width: 35px;
    height: 35px;
    padding: 2px 2px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .right-content-md {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    background-color: lightblue;
    height: 17.2rem;
  }

  .circle-icon-small-md {
    width: 30px;
    height: 30px;
    padding: 2px 2px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
  }
}
