.kelompok5 {
  font-family: Helvetica;
}

.container {
  font-family: Helvetica;
}
.card1 {
  height: 11cm;
}

.btn-dark {
  background-color: #789395;
  border-color: #789395;
  font-family: Helvetica;
}

.btn-dark:hover {
  background-color: #495371;
}

.col-sm-3 {
  text-align: center;
}
