/* body */
body {
  font-family: Helvetica;
}

/* container */
.container {
  padding: 0px;
  border-color: grey;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.container h1 {
  color: black;
  font-weight: bold;
}

/* navbar */
.color-nav-header {
  background-color: #c4c4c4;
}

#nav {
  width: 80%;
  padding-top: 10px;
}

.nav a {
  color: black;
}

.logo-nav {
  width: 100px;
}
.nav-link {
  padding: 8px 25px 8px 0px;
}

.nav-link:hover {
  color: #0d28a6;
  font-weight: 700;
}

/* call to action */
.jobdetail {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 5rem;
  border-style: solid;
  border-color: grey;
}

.headerimg {
  position: relative;
}

.jobdetail p {
  color: black;
  display: inline-block;
  margin-right: 10px;
}

.detail-text {
  text-align: left;
  margin-left: -30px;
}

.jobdetail ul {
  list-style-type: none;
}

.jobdetail-button {
  background-color: white;
  border-color: #5d5fef;
  color: #5d5fef;
  font-weight: bold;
}

.jobdetail-button button:hover {
  background-color: #5d5fef;
  color: white;
}

.jobdetail-button-2 {
  border-color: white;
  background-color: #5d5fef;
  margin-left: 10px;
  padding: 10px 12px 10px 12px;
  color: white;
}

.jobdetail-img{
  margin-top: 20px; width: 18rem; height: 25rem";
}

@media only screen and (max-width: 1000px) {
  .jobdetail-img-md {
    margin-top: 20px;
    width: 10rem;
    height: 20rem   
  }
}
@media only screen and (max-width: 400px) {
  .jobdetail-button {
    background-color: white;
    border-color: #5d5fef;
    color: #5d5fef;
    font-weight: bold;
    margin: 5px 0;
    margin-left: 15px;
  }
  .jobdetail-button-2 {
    border-color: white;
    background-color: #5d5fef;
    margin-top: 3px;
    margin-left: 17px;
    padding: 10px 90px 10px 90px;
    color: white;
  }
}
